:root {
  --color-primary: #f9faf8;
  --color-secondary: #3882f6;
  --color-dark: #1f2937;
}

@font-face {
  font-family: "Roboto";
  src: url(../font/Roboto-Regular.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url(../font/Roboto-Medium.ttf) format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url(../font/Roboto-Black.ttf) format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: "Roboto";
  src: url(../font/Roboto-LightItalic.ttf) format("truetype");
  font-weight: 300;
}

* {
  box-sizing: border-box;
  color: var(--color-primary);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: 0;
}

body {
  height: 100vh;
}

/* header section */
header {
  background-color: var(--color-dark);
}

.box-container {
  margin: auto;
  max-width: 1023px;
  padding: 15px 0;
}

.img-logo {
  font-size: 24px;
  font-weight: 500;
}

.flex {
  display: flex;
}

.flex-row {
  align-items: center;
  justify-content: space-between;
}

.flex-col {
  flex-direction: column;
}

.img-logo,
.nav-list a,
.go-up a {
  flex: 1;
  text-decoration: none;
}

.nav-list {
  column-gap: 20px;
  padding: 0;
  list-style: none;
}

.hero-section {
  margin: 123px 0;
  column-gap: 53px;
}

.hero-intro {
  row-gap: 20px;
}

.hero-title {
  font-size: 48px;
  font-weight: 900;
}

.nav-list a,
.hero-paragraph,
.action-container p {
  color: #e5e7eb;
  font-size: 18px;
}

.btn {
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  padding: 8px 20px;
  width: 130px;
}

.btn-primary {
  background-color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
}

.btn-outline {
  border: 2px solid var(--color-primary);
}

/* info section */
.block {
  padding: 55px calc((100vw - 820px) / 2);
}

.info-section figcaption {
  margin-top: 10px;
  text-align: center;
}

.info-section h2 {
  font-size: 36px;
  text-align: center;
}

.info-section h2,
.quote figcaption {
  color: var(--color-dark);
  font-weight: 900;
  margin-bottom: 55px;
}

.info-section img {
  border-radius: 10px;
  object-fit: cover;
}

.info-card:hover {
  cursor: pointer;
}

.info-card:hover img {
  transform: scale(1.15);
}

.info-card:hover figcaption {
  color: var(--color-secondary);
  font-weight: 500;
}

.info-section img,
.info-card figcaption {
  transition: all ease-in-out 0.3s;
}

.img-cont {
  border: 2px solid var(--color-secondary);
  border-radius: 14px;
  display: flex;
  height: 166px;
  max-height: fit-content;
  overflow: hidden;
  width: 166px;
}

/* quote section */
.quote-section {
  background-color: #e5e7eb;
  padding-top: 120px;
  padding-bottom: 120px;
}

.quote-section blockquote {
  padding-left: 35px;
}

.quote-section q {
  /* color: #1f2937; */
  font-size: 36px;
  font-weight: 300;
}

.quote figcaption {
  margin: 0;
  margin-right: 14px;
  /* margin-top: 14px; */
  text-align: right;
}

.info-section figcaption,
.quote-section q {
  color: #1f2937;
}

/* action section */
.action-container {
  background-color: var(--color-secondary);
  border-radius: 5px;
  padding: 50px 120px;
}

.action-section {
  padding: 100px calc((100vw - 1024px) / 2);
}

/* back-to-top */
.go-up a {
  background-color: rgb(120, 14, 14);
  border-radius: 50%;
  color: #e1e1d5;
  font-size: 24px;
  height: 50px;
  justify-content: center;
  position: fixed;
  right: 5vw;
  top: 90vh;
  transition: all ease-in-out 0.2s;
  width: 50px;
}

.go-up:hover a {
  background-color: #bbbaa1;
  color: rgb(120, 14, 14);
}
