:root {
  --color-primary: #fff;
  --color-secondary: #3882f6;
  --color-dark: #1f2937;
}

@font-face {
  font-family: "Roboto";
  src: url(../font/Roboto-Regular.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url(../font/Roboto-Medium.ttf) format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url(../font/Roboto-Black.ttf) format("truetype");
  font-weight: 900;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: 0;
}

body {
  height: 100vh;
}

/* header section */
header {
  background-color: var(--color-dark);
}

.box-container {
  margin: auto;
  max-width: 1023px;
  padding: 15px 0;
}

.img-logo {
  font-size: 24px;
  font-weight: 500;
}

header,
.img-logo,
.nav-list a {
  color: var(--color-primary);
}

.flex {
  display: flex;
}

.flex-row {
  align-items: center;
  justify-content: space-between;
}

.flex-col {
  flex-direction: column;
}

.img-logo,
.nav-list a {
  flex: 1;
  text-decoration: none;
}

.nav-list {
  column-gap: 20px;
  padding: 0;
  list-style: none;
}

.hero-section {
  margin: 123px 0;
  column-gap: 53px;
}

.hero-intro {
  row-gap: 20px;
}

.hero-title {
  font-size: 48px;
  font-weight: 900;
}

.nav-list,
.hero-paragraph,
.btn {
  font-size: 18px;
}

.btn {
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  padding: 8px 20px;
  width: 130px;
}

.btn-primary {
  background-color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
  color: var(--color-primary);
}

/* main */
.inner-padding {
  padding: 55px calc((100vw - 820px) / 2);
}

figcaption {
  margin-top: 10px;
  text-align: center;
}

.info-section h2 {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 55px;
  text-align: center;
}

.info-section img {
  border-radius: 10px;
  object-fit: cover;
  transition: all ease-in-out 0.2s;
}

figure:hover img {
  transform: scale(1.15);
}

.img-cont {
  border: 2px solid var(--color-secondary);
  border-radius: 14px;
  display: flex;
  height: 166px;
  max-height: fit-content;
  overflow: hidden;
  width: 166px;
}
